<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorinterval="40000">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{1} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="/webtask/logs/log.txt" filePattern="logs/log-%d{MM-dd-yyyy}.txt.zip"
                     bufferedIO="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5}- %msg%n"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>