@charset "UTF-8";
.content_block {
	overflow: hidden;
	position: relative;    
}
.content_block.hide {
	height: 150px;
}
.content_block.hide:after{
	content: "";
	display: block;
	height: 100px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 75%)
}